#notification-success, #notification-error {
  position: fixed;
  top: -100px; /* Start above the viewport */
  left: 20px;
  color: white; /* White text */
  padding: 15px;
  border-radius: 5px;
  display: none; /* Hidden by default */
  z-index: 111111; /* Ensure it appears above other content */
  font-family: Arial, sans-serif;
  transition: top 0.5s ease-out;
}

#notification-error {
  background-color: #f44336; /* Red background */
}

#notification-success {
  background-color: #4CAF50; /* Green background */
}

/* Animation to slide down */
@keyframes slideDown {
  0% {
      top: -100px; /* Start above the viewport */
  }
  100% {
      top: 20px; /* End at the desired position */
  }
}

/* Show the notification with the animation */
#notification-success.show {
  display: block; /* Make it visible */
  animation: slideDown 0.5s ease-out forwards;
}

#notification-error.show {
  display: block; /* Make it visible */
  animation: slideDown 0.5s ease-out forwards;
}


  .hero-title {
    font-size: 50px;
  }

  @media (min-width: 768px) {
    .hero-title {
      font-size: 90px;
      margin-top: 30px;
      /* white-space: pre-line; */
    }
  }



  /* navbar */

  .navbar {
    border-bottom: 1px solid #e7e7e7;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }

  .navbar-nav .nav-link {
    color: #333;
    padding: 0.5rem 1rem;
  }

  .navbar-nav .nav-item {
    position: relative;
  }

  .dropdown-toggle::after {
    display: inline-block;
    margin-left: 0.255em;
    vertical-align: 0.255em;
    content: "";
    border-top: 0.3em solid;
    border-right: 0.3em solid transparent;
    border-bottom: 0;
    border-left: 0.3em solid transparent;
  }

  .dropdown-menu {
    background-color: white;
    border: 1px solid #e7e7e7;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    min-width: 500px;
  }

  .dropdown-grid {
    display: grid;
    grid-template-columns: repeat(2, 3fr);
    gap: 0.5rem 1rem;
  }

  .dropdown-grid .dropdown-item {
    white-space: normal;
    padding: 0.25rem 0;
    color: #333;
  }

  .dropdown-grid .dropdown-item:hover {
    background-color: transparent;
    color: #23b5b5;
    transform: translateX(3px) !important;
  }

  @media (max-width: 992px) {
    .dropdown-menu {
      width: 100%;
      min-width: auto;
    }
  }

  .nav-link {
    font-weight: 500 ;
  }